{% extends "base_customer.html" %}
{% block title %}My Bookings | Local Services{% endblock %}

    {% block content %}
            <h2 style="margin-bottom: 2rem;">Account Settings</h2>

            <div style="max-width: 600px;">
                <div class="card" style="margin-bottom: 2rem;">
                    <h3 style="margin-bottom: 1.5rem;">Personal Details</h3>

                    <form method ="POST">
                     {% csrf_token %} 
                    <div class="form-group">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" value="{{request.user.customer_profile.full_name}}" name = "full_name">
                    </div>

                    <div class="grid grid-cols-2 grid-gap">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" value="{{request.user.email}}" disabled
                                style="background: #F1F5F9;">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone</label>
                            <input type="tel" class="form-control" value="{{request.user.customer_profile.phone}}" name = "phone">
                        </div>
                    </div>

                    <button class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            

                <div class="card">
                    <div class="flex justify-between items-center" style="margin-bottom: 1.5rem;">
                        <h3 style="margin: 0;">Saved Addresses</h3>
                        <a href="{% url 'add_address' %}">
                            <button class="btn btn-outline btn-sm">Add New</button>
                        </a>
                    </div>

                    <div class="flex flex-col gap-md">

                        {% for addr in address %}
                        <div class="flex items-start gap-md p-4"
                            style="border: 1px solid var(--color-border); border-radius: var(--radius-md);">

                            {% if addr.label|lower == "home" %}
                                <i class="fa-solid fa-house text-light mt-1"></i>
                            {% elif addr.label|lower == "office" %}
                                <i class="fa-solid fa-building text-light mt-1"></i>
                            {% else %}
                                <i class="fa-solid fa-location-dot text-light mt-1"></i>
                            {% endif %}

                            <div style="flex-grow: 1;">
                                <h4 style="margin: 0;">{{ addr.label }}</h4>
                                <p class="text-sm text-light">{{ addr.full_address }},{{ addr.city }},{{ addr.state }} - {{ addr.pincode }}</p>
                            </div>
                            <div class="flex gap-sm">
                                <a href="{% url 'edit_address' addr.id %}" class="btn btn-sm btn-secondary"><i class="fa-solid fa-pen"></i></a>
                                <a href="{% url 'delete_address' addr.id %}" class="btn btn-sm btn-secondary text-danger" onclick="return confirm('Delete this address?');" ><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>

                            {% empty %}
                                <p class="text-light">No addresses added yet.</p>
                            {% endfor %}

                    </div>
                </div>
            </div>
    {% endblock %}