{% extends "base_admin.html" %}
{% block title %}Admin Booking Detail{% endblock %}

        <!-- Main Content -->
        {% block content %}

            <div class="breadcrumbs">
                <a href="{% url 'admin_booking' %}">Bookings</a> <i class="fa-solid fa-chevron-right text-xs"></i>
                <span>{{ booking.id }}</span>
            </div>

            <div style="display: grid; grid-template-columns: 2fr 1fr; gap: 2rem;">
                <div>
                    <div class="card" style="margin-bottom: 2rem;">
                        <h2 style="margin-bottom: 0.5rem;">{{ booking.service.title }}</h2>
                        <div class="flex items-center gap-md text-light">
                            <span><i class="fa-solid fa-calendar"></i> {{ booking.booking_date }}</span>
                            <span><i class="fa-solid fa-clock"></i>{{ booking.booking_time }}</span>
                        </div>
                        <hr style="border:none; border-top: 1px solid var(--color-border); margin: 1.5rem 0;">

                        <h4 style="margin-bottom: 1rem;">Customer Details</h4>
                        <p class="font-bold">{{ booking.customer.username }}</p>
                        <p class="text-light">{{ booking.customer.email }} • {{ booking.customer.customer_profile.phone }}</p>
                        <p class="text-light" style="margin-top: 0.5rem;">{{ booking.address_line }},{{ booking.city }},{{ booking.state }} - {{ booking.pincode }}</p>
                    </div>
                </div>

                <div>
                    <div class="card bg-white">
                        <h3 style="margin-bottom: 1rem;">Assignment</h3>
                        <p class="text-light text-sm mb-2">Current Status: <span
                                class="badge badge-warning">{{ booking.status }}</span></p>

                        <form method="POST">
                                {% csrf_token %}
                            <label class="form-label">Assign Professional</label>
                            {{ form.worker }}

                            <button class="btn btn-primary btn-block">Assign & Notify</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}