{% extends "base_admin.html" %}
{% block title %}Admin Booking Detail{% endblock %}

        <!-- Main Content -->
        {% block content %}

            <div class="breadcrumbs">
                {% if from_page == "dashboard" %}
                <a href="{% url 'admin_dashboard' %}">Dashboard</a>
                <i class="fa-solid fa-chevron-right text-xs"></i>
                <span>Booking {{ booking.id }}</span>

                {% elif from_page == "worker_jobs" %}
                <a href="{% url 'admin_workers' %}">Professionals</a>
                <i class="fa-solid fa-chevron-right text-xs"></i>
                <a href="{% url 'worker_jobs' booking.worker.id %}">Worker Jobs</a>
                <i class="fa-solid fa-chevron-right text-xs"></i>
                <span>Booking {{ booking.id }}</span>

                {% else %}
                <a href="{% url 'admin_booking' %}">Bookings</a> <i class="fa-solid fa-chevron-right text-xs"></i>
                <span>{{ booking.id }}</span>
                {% endif %}
            </div>

            <div style="display: grid; grid-template-columns: 2fr 1fr; gap: 2rem;">
                <div>
                    <div class="card" style="margin-bottom: 2rem;">
                        <h2 style="margin-bottom: 0.5rem;">{{ booking.service.title }}</h2>
                        <div class="flex items-center gap-md text-light">
                            <span><i class="fa-solid fa-calendar"></i> {{ booking.booking_date }}</span>
                            <span><i class="fa-solid fa-clock"></i>{{ booking.booking_time }}</span>
                        </div>
                        <hr style="border:none; border-top: 1px solid var(--color-border); margin: 1.5rem 0;">

                        <h4 style="margin-bottom: 1rem;">Customer Details</h4>
                        <p class="font-bold">{{ booking.customer.username }}</p>
                        <p class="text-light">{{ booking.customer.email }} • {{ booking.customer.customer_profile.phone }}</p>
                        <p class="text-light" style="margin-top: 0.5rem;">{{ booking.address_line }},{{ booking.city }},{{ booking.state }} - {{ booking.pincode }}</p>
                    </div>
                </div>

                <div>
                    <div class="card bg-white">
                        <h3 style="margin-bottom: 1rem;">Assignment</h3>
                        <p class="text-light text-sm mb-2">Current Status: 
                            {% if booking.booking_status == "PENDING" %}
                                <span class="badge badge-warning">PENDING</span>

                            {% elif booking.booking_status == "ASSIGNED" %}
                                <span class="badge badge-info">ASSIGNED</span>

                            {% elif booking.booking_status == "CONFIRMED" %}
                                <span class="badge badge-success">CONFIRMED</span>

                            {% elif booking.booking_status == "CANCELLED" %}
                                <span class="badge badge-danger">CANCELLED</span>
                            {% endif %}


                        {% if booking.worker %}
                        <p class="text-sm text-light mt-2">
                            Assigned To: <strong>{{ booking.worker.full_name }}</strong>
                        </p>
                        {% endif %}

                        <form method="POST">
                                {% csrf_token %}
                            <label class="form-label">Assign Professional</label>
                            {{ form.worker }}


                            {% if not form.worker.field.queryset %}
                                <p style="color: red; margin-top: 8px;">
                                    No workers available for this service.
                                </p>
                            {% endif %}

                            <button class="btn btn-primary btn-block">Assign & Notify</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}