{% extends "base_admin.html" %}
{% block title %}Admin Bookings{% endblock %}

        <!-- Main Content -->
        {% block content %}

            {% comment %} <div class="flex justify-between items-center" style="margin-bottom: 2rem;">
                <h2>All Bookings</h2>
                <div class="flex gap-sm">
                    <button class="btn btn-secondary btn-sm">Filter</button>
                    <button class="btn btn-secondary btn-sm">Export</button>
                </div>
            </div> {% endcomment %}



            <div class="flex justify-between items-center" style="margin-bottom: 2rem;">
                <h2>All Bookings</h2>

                <form method="get" class="flex gap-sm">

                    <select name="booking_status" class="form-select">
                        <option value="">All Status</option>
                        <option value="PENDING">Pending</option>
                        <option value="ASSIGNED">Assigned</option>
                        <option value="CONFIRMED">Confirmed</option>
                        <option value="IN_PROGRESS">In Progress</option>
                        <option value="COMPLETED">Completed</option>
                    </select>

                    <button type="submit" class="btn btn-secondary btn-sm">
                        Apply
                    </button>

                    <a href="{% url 'admin_booking' %}" class="btn btn-secondary btn-sm">
                        Reset
                    </a>

                </form>
            </div>





            <div class="grid grid-cols-1 gap-md">
                {% for booking in bookings %}
                <div class="card"
                    style="padding: 1.5rem; display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <div class="flex items-center gap-sm mb-1">
                            <span class="font-bold">#AG-{{ booking.id }}</span>

                            {% if booking.booking_status == "PENDING" %}
                                <span class="badge badge-warning">Pending</span>
                            {% elif booking.booking_status == "ASSIGNED" %}
                                <span class="badge badge-info">Assigned</span>
                            {% elif booking.booking_status == "CONFIRMED" %}
                                <span class="badge badge-success">Confirmed</span>
                            {% elif booking.booking_status == "IN_PROGRESS" %}
                                <span class="badge badge-warning">In Progress</span>

                            {% elif booking.booking_status == "COMPLETED" %}
                                <span class="badge badge-success">Completed</span>
                            {% elif booking.booking_status == "CANCELLED" %}
                                <span class="badge badge-danger">Cancelled</span>
                            {% endif %}
                        </div>
                        <h4 style="margin: 0;">{{ booking.service.title }}</h4>
                        <p class="text-sm text-light">Customer: {{ booking.customer.username }}</p>
                        {% if booking.worker %}
                        <p class="text-sm text-light"><i class="fa-solid fa-user"></i>
                        Worker: {{ booking.worker.full_name }}
                        </p>
                        {% endif %}
                        <p class="text-sm text-light"><i class="fa-regular fa-clock"></i> {{ booking.booking_date|date:"d M Y" }} • {{ booking.booking_time|time:"h:i A" }} - {{ booking.end_time|time:"h:i A" }}</p>
                    </div>
                    <div class="flex flex-col items-end gap-sm">
                        <span class="font-bold">₹{{ booking.total_price }}</span>

                        {% if booking.booking_status == "PENDING" %}
                        <a href="{% url 'admin_booking_detail' booking.id %}" class="btn btn-primary btn-sm">
                        Assign
                        </a>
                        {% else %}
                        <a href="{% url 'admin_booking_detail' booking.id %}" class="btn btn-outline btn-sm">
                        Manage
                        </a>
                        {% endif %}

                        
                    </div>
                </div>
                {% empty %}

                    <div class="card text-center p-6">
                        <p class="text-light">No bookings found for this filter.</p>
                    </div>
                {% endfor %}

                {% comment %} <div class="card"
                    style="padding: 1.5rem; display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <div class="flex items-center gap-sm mb-1">
                            <span class="font-bold">#AG-8822</span>
                            <span class="badge badge-warning">Pending</span>
                        </div>
                        <h4 style="margin: 0;">AC Repair</h4>
                        <p class="text-sm text-light">Customer: Sarah Smith • 25 Dec, 02:00 PM</p>
                    </div>
                    <div class="flex flex-col items-end gap-sm">
                        <span class="font-bold">$25.00</span>
                        <a href="{% url 'admin_booking_detail' booking.id %}" class="btn btn-primary btn-sm">Assign</a>
                    </div>
                </div> {% endcomment %}
            </div>
        {% endblock %}