{% extends "base_customer.html" %}
{% block title %}My Bookings | Local Services{% endblock %}

    {% block content %}
            <h2 style="margin-bottom: 2rem;">My Bookings</h2>

            <div class="flex gap-md" style="margin-bottom: 2rem; border-bottom: 1px solid var(--color-border);">
                {% comment %} <button class="btn btn-outline"
                    style="border: none; border-bottom: 2px solid var(--color-primary); border-radius: 0; padding-left: 0.5rem; padding-right: 0.5rem;">Upcoming</button>
                <button class="btn btn-block"
                    style="width: auto; background: none; color: var(--color-text-light);">History</button> {% endcomment %}

                    <a href="?tab=upcoming" class="btn" style="border:none;
                            border-bottom:2px solid {% if active_tab == 'upcoming' %}var(--color-primary){% else %}transparent{% endif %};
                            border-radius:0;
                            padding-left:0.5rem;
                            padding-right:0.5rem;
                            background:none;
                            color:{% if active_tab == 'upcoming' %}var(--color-primary){% else %}var(--color-text-light){% endif %};">

                        Upcoming</a>
                    <a href="?tab=history" class="btn" style="border:none;
                            border-bottom:2px solid {% if active_tab == 'history' %}var(--color-primary){% else %}transparent{% endif %};
                            border-radius:0;
                            padding-left:0.5rem;
                            padding-right:0.5rem;
                            background:none;
                            color:{% if active_tab == 'history' %}var(--color-primary){% else %}var(--color-text-light){% endif %};">

                        History</a>    

            </div>

            {% if banner == "PENDING" %}
            <div class="card" style="background:#FFF8E1; border-left:4px solid #FFC107; padding:1rem; margin-bottom:1rem;">
                ⏳ Your booking request is under review. Payment will be enabled once a professional is assigned.
            </div>

            {% elif banner == "ASSIGNED" %}
            <div class="card" style="background:#E3F2FD; border-left:4px solid #2196F3; padding:1rem; margin-bottom:1rem;">
                💳 A professional has been assigned. You can now complete payment.
            </div>
            {% endif %}

            <!-- Booking List -->
             {% if active_tab == "upcoming" %}
            <div class="flex flex-col gap-md">

                <!-- Booking Item 1 -->
                 {% for booking in upcoming %}
                <div class="card flex justify-between items-center group">
                    <div class="flex items-center gap-lg">
                        <div
                            style="width: 60px; height: 60px; background: #F1F5F9; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                            <i class="fa-solid fa-broom text-light fa-lg"></i>
                        </div>
                        <div>
                            <h4 style="margin: 0;">{{ booking.service.title }}</h4>
                            <p class="text-sm text-light" style="margin: 0.25rem 0;">{{ booking.booking_date }}, {{ booking.booking_time }}</p>

                            {% if booking.worker %}
                                <p class="text-sm text-light">Assigned Proffessional: {{ booking.worker.full_name }}</p>
                            {% endif %}

                            
                             {% if booking.booking_status == "PENDING" %}
                                <span class="badge badge-warning">Pending Assignment</span>
                            {% elif booking.booking_status == "ASSIGNED" %}
                                <span class="badge badge-info">Professional Assigned</span>
                            {% elif booking.booking_status == "CONFIRMED" %}
                                <span class="badge badge-success">Payment Completed</span>
                            {% elif booking.booking_status == "IN_PROGRESS" %}
                                <span class="badge badge-primary">Service In Progress</span>
                               
                            {% endif %} 
                        </div>
                    </div>
                    <div class="text-right">
                        <p class="font-bold text-lg" style="margin-bottom: 0.5rem;">₹{{ booking.total_price }}</p>
                        {% if booking.booking_status == "ASSIGNED" %}
                            <a href="{% url 'booking_step3' booking.id %}?flow=payment" class="btn btn-primary btn-sm">Pay Now </a>
                        {% endif %}
                        <a href="{% url 'booking_detail' booking.id %}" class="btn btn-secondary btn-sm">Track</a>
                        {% if booking.booking_status == "PENDING" or booking.booking_status == "ASSIGNED" %}
                        <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger btn-sm">Cancel</a>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                    <p>No bookings found.
                {% endfor %}

                
                {% comment %} <!-- Booking Item 2 -->
                <div class="card flex justify-between items-center">
                    <div class="flex items-center gap-lg">
                        <div
                            style="width: 60px; height: 60px; background: #F1F5F9; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                            <i class="fa-solid fa-fan text-light fa-lg"></i>
                        </div>
                        <div>
                            <h4 style="margin: 0;">AC Service</h4>
                            <p class="text-sm text-light" style="margin: 0.25rem 0;">Dec 25, 02:00 PM</p>
                            <span class="badge badge-warning">Pending Assignment</span>
                        </div>
                    </div>
                    <div class="text-right">
                        <p class="font-bold text-lg" style="margin-bottom: 0.5rem;">$25.00</p>
                        <a href="{%url 'booking_detail'%}" class="btn btn-secondary btn-sm">Details</a>
                    </div>
                </div> {% endcomment %}

            </div>
            {% endif %}

            {% if active_tab == "history" %}
            <div class="flex flex-col gap-md">
        
                {% for booking in history %}
                <div class="card flex justify-between items-center group">
                    <div>
                        <h4>{{ booking.service.title }}</h4>
                        <p>{{ booking.booking_date }}, {{ booking.booking_time }}</p>
                        
                        {% if booking.booking_status == "CONFIRMED" %}
                        <span class="badge badge-success">Payment Completed</span>
                        {% elif booking.booking_status == "COMPLETED" %}
                        <span class="badge badge-info">Service Completed</span>
                        {% elif booking.booking_status == "CANCELLED" %}
                        <span class="badge badge-danger">Cancelled</span>
                        {% endif %}
                    </div>
                    <div>
                        <p>₹{{ booking.total_price }}</p>

                        {% if booking.booking_status == "COMPLETED" %}
                        {% if booking.review %}
                            <span class="badge badge-success">Reviewed</span>
                        {% else %}

                        <form method="POST" action="{% url 'add_review' booking.id %}">
                            {% csrf_token %}

                            <select name="rating" style="padding:4px; margin-bottom:5px;">
                                <option value="5">5 ⭐</option>
                                <option value="4">4 ⭐</option>
                                <option value="3">3 ⭐</option>
                                <option value="2">2 ⭐</option>
                                <option value="1">1 ⭐</option>
                            </select>

                            <input type="text" name="comment" placeholder="Write review"
                            style="padding:4px; width:150px; margin-bottom:5px;">

                            <button class="btn btn-secondary btn-sm">
                                Submit
                            </button>

                        </form>

                        {% endif %}
                    {% endif %}

                    </div>
                </div>
                {% empty %}
                <p>No history bookings</p>
                {% endfor %}

            </div>
            {% endif %}

        {% endblock %}