{% extends "base_customer.html" %}
{% block title %}My Bookings | Local Services{% endblock %}

    {% block content %}
            <h2 style="margin-bottom: 2rem;">My Bookings</h2>

            <div class="flex gap-md" style="margin-bottom: 2rem; border-bottom: 1px solid var(--color-border);">
                <button class="btn btn-outline"
                    style="border: none; border-bottom: 2px solid var(--color-primary); border-radius: 0; padding-left: 0.5rem; padding-right: 0.5rem;">Upcoming</button>
                <button class="btn btn-block"
                    style="width: auto; background: none; color: var(--color-text-light);">History</button>
            </div>

            <!-- Booking List -->
            <div class="flex flex-col gap-md">

                <!-- Booking Item 1 -->
                 {% for booking in bookings %}
                <div class="card flex justify-between items-center group">
                    <div class="flex items-center gap-lg">
                        <div
                            style="width: 60px; height: 60px; background: #F1F5F9; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                            <i class="fa-solid fa-broom text-light fa-lg"></i>
                        </div>
                        <div>
                            <h4 style="margin: 0;">{{ booking.service.title }}</h4>
                            <p class="text-sm text-light" style="margin: 0.25rem 0;">{{ booking.booking_date }}, {{ booking.booking_time }}</p>

                            {% comment %} <span class="badge badge-info">Professional Assigned</span> {% endcomment %}
                             {% if booking.booking_status == "PENDING" %}
                                <span class="badge badge-warning">Pending Assignment</span>
                            {% elif booking.booking_status == "ASSIGNED" %}
                                <span class="badge badge-info">Professional Assigned</span>
                            {% elif booking.booking_status == "CONFIRMED" %}
                                <span class="badge badge-success">Payment Completed</span>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="text-right">
                        <p class="font-bold text-lg" style="margin-bottom: 0.5rem;">₹{{ booking.total_price }}</p>
                        {% if booking.booking_status == "ASSIGNED" %}
                            <a href="{% url 'booking_step3' booking.id %}" class="btn btn-primary btn-sm">Pay Now </a>
                        {% endif %}
                        <a href="{% url 'booking_detail' booking.id %}" class="btn btn-secondary btn-sm">Track</a>
                    </div>
                </div>
                {% empty %}
                    <p>No bookings found.
                {% endfor %}

                {% comment %} <!-- Booking Item 2 -->
                <div class="card flex justify-between items-center">
                    <div class="flex items-center gap-lg">
                        <div
                            style="width: 60px; height: 60px; background: #F1F5F9; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                            <i class="fa-solid fa-fan text-light fa-lg"></i>
                        </div>
                        <div>
                            <h4 style="margin: 0;">AC Service</h4>
                            <p class="text-sm text-light" style="margin: 0.25rem 0;">Dec 25, 02:00 PM</p>
                            <span class="badge badge-warning">Pending Assignment</span>
                        </div>
                    </div>
                    <div class="text-right">
                        <p class="font-bold text-lg" style="margin-bottom: 0.5rem;">$25.00</p>
                        <a href="{%url 'booking_detail'%}" class="btn btn-secondary btn-sm">Details</a>
                    </div>
                </div> {% endcomment %}

            </div>
        {% endblock %}